<navbar></navbar>


<form [formGroup]="form" (ngSubmit)="update_advertiser()">
    <div class="form-group">
        <label for="name">Name : {{user.name}}</label>
    </div>
    <div class="form-group">
        <label for="surname">Surname : {{user.surname}}</label>
    </div>
    <div class="form-group">
        <label for="password">Password : {{user.password}}</label>
    </div>
    <div class="form-group">
        <label for="city">City : {{user.city}}</label>
    </div>
    <div class="form-group">
        <label for="birthday">Day of birth : {{birthday.getDate()}}.{{birthday.getMonth()+1}}.{{birthday.getFullYear()}}</label>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be in correct format</div>
        </div>
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required">Phone is required</div>
            <div *ngIf="f.phone.errors.phone">Phone must have ten digits.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="agency">Agency</label>
        <select formControlName="agency" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.agency.errors }">
            <option *ngFor="let agency of all_agencies" value="{{agency.PIB}}">{{agency.name}}</option>
        </select>    
    </div>
    <div class="form-group">
        <label for="licence">Licence</label>
        <input type="number" formControlName="licence" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.licence.errors }">
    </div>
    <div class="form-group" style="display:flex;justify-content:center;align-items:center">                            
        <button [disabled]="loading" class="standardButton" style="margin-top:10%">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Update advertiser
        </button>
    </div>
    <div class="error" *ngIf="error>0">
            {{error_message}}
    </div>
</form>
<br/>