<navbar></navbar>

<mat-vertical-stepper>
    <mat-step label="Import JSON">
        <input type="file" id="json" name="json" accept="application/JSON" (change)="file_change_event($event)">
        <span *ngIf="first_step_error>0" style="margin-right:15%;margin-top:2%">{{first_step_message}}</span>
        <button mat-button matStepperNext [disabled]="first_step_error>0" style="margin-right:50%">Next</button>
    </mat-step>
    <mat-step label="Valid JSON">
        <div [ngClass]="{red:second_step_error>0,green:second_step_error==0}" style="display:block;margin:auto;text-align:center;">{{second_step_message}}</div>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext [disabled]="second_step_error>0">Next</button>
        </div>
    </mat-step>
    <mat-step  label="Import pictures">
        <input type="file" id="files" name="files" accept="image/png, image/jpg, image/jpeg" multiple ng2FileSelect [uploader]="uploader">
        <span class="red" *ngIf="third_step_error>0">{{third_step_message}}</span>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="submit()">Submit</button>
        </div>
    </mat-step>
</mat-vertical-stepper>
