:host{
    height:100% !important;
    overflow-y: scroll;
}

mat-vertical-stepper{
    width:40%;
    display:block;
    margin:auto;
    background-color:lightslategray;
}

mat-step{
    display:block;
    margin:auto;
}

input,button{
    display:block;
    margin:auto;
}

span{
    display:flex;
    justify-content:center;
}

.red{
    color:red;
}

.green{
    color:green;
}