:host{
    height: 100% !important;
    overflow-y:scroll;
}

form{
    width:40%;
    margin:auto;
    display:block;
}

mat-table,mat-paginator{
    background-color:rgb(151, 152, 153);
    width:80%;
 
    margin:auto;
}

.error{
    color:red;
    display:block;
    margin:auto;
    width:10%;
}

mat-row:hover{
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}