<navbar></navbar>

<form [formGroup]="form" (ngSubmit)="change_password()">
	<div class="form-group">
		<label for="old_password">Old password</label>
		<input type="password" formControlName="old_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.old_password.errors }" />
		<div *ngIf="submitted && f.old_password.errors" class="invalid-feedback">
			<div *ngIf="f.old_password.errors.required">Old password is required</div>                                                                
		</div>                                                                                    
	</div>
	<div class="form-group">
		<label for="password">New password</label>
		<input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
		<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
			<div *ngIf="f.password.errors.required">New password is required</div>
			<div *ngIf="f.password.errors.password_not_valid">Password does not have the specified format (at least 8 characters,starting with a letter)</div>
			<div *ngIf="f.password.errors.password_number_not_valid">Password does not have at least one cipher</div>
			<div *ngIf="f.password.errors.password_bigletter_not_valid">Password does not have at least one big letter</div>
			<div *ngIf="f.password.errors.password_special_not_valid">Password does not have at least one special character</div>
		</div>
	</div>
    <div class="form-group">
		<label for="password_conf">New password (confirmation)</label>
		<input type="password" formControlName="password_conf" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password_conf.errors }" />
		<div *ngIf="submitted && f.password_conf.errors" class="invalid-feedback">
			<div *ngIf="f.password_conf.errors.required">New password confirmation is required</div>
		</div>
		<div *ngIf="submitted && fe" class="error">
			<div *ngIf="fe.mismatchedPasswords">Passwords must match</div>
		</div>
	</div>                         
	<div class="form-group" style="display:flex;justify-content:center;margin-top:3%">                            
		<button [disabled]="loading" class="standardButton" >
			<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
			Change password
		</button>
	</div>
    <div class="error" *ngIf="error>0">
            {{error_message}}
    </div>
</form>
