<navbar></navbar>

<mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let el">{{el.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
        <mat-cell *matCellDef="let el">{{el.price}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef>Update</mat-header-cell>
        <mat-cell *matCellDef="let el">
            <button mat-button style="padding-left:0" [disabled]="el.sold>0 || el.hour=='no'" routerLink="update_real_estate/{{el._id}}">Update</button>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sell/sold">
        <mat-header-cell *matHeaderCellDef>Sell/Sold</mat-header-cell>
        <mat-cell *matCellDef="let el">
            <button mat-button style="padding-left:0" *ngIf="el.sold==0" (click)="sell_real_estate(el._id)">Sell</button>
            <span *ngIf="el.sold>0">{{el.sold}}</span>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    
</mat-table>
<mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
</mat-paginator>
